body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #F1FFEB;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.logo img {
  width: 120px;
}

.btn {
  margin-left: 20px;
  height: auto;
  width: auto;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

label {
  display: block;
}

.homeContainer {
  margin: 10%;
}

.formContainer {
  margin-bottom: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.pageContainer {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.confirmationContainer {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.trackContainer {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.formBorder {
  border: 0.5px solid lightgray;
  border-radius: 12px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
}

.cardContainer {
  margin-left: 150px;
  margin-right: 150px;
}

.big5Border {
  border: 0.5px solid lightgray;
  border-radius: 12px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
}

.big5Container {
 margin: 30px;
}

.inputcss {
  height: 40px;
      
}